<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center border-bottom">
        <h3>Corridas Asignadas</h3>
      </div>
      <br>
      <% Hash[@trip_per_days.sort.reverse].each do |key, trips| %>
        <div class="alert alert-primary text-center">
          <strong>
            <%= trips.first.date.strftime("%d %B") %>
          </strong>
        </div>
        <% trips.each do |trip| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-gren"><%= trip.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Horario de salida</h6>
              <p class="card-text text-gren"><%= trip.date.strftime("%H:%M %p") %></p>
              <div>
                <% trip_stops(trip.trip_stops) %>
                <strong>Inicia: </strong> <%= first_stop&.address %>
              </div>
              <div>
                <strong>Termina: </strong> <%= last_stop&.address %>
              </div>
              <br>
              <div>
                <%= link_to "Ver paradas y usuarios", trip_stops_path(trip.id), class: 'btn btn-gren btn-lg btn-block' %>
              </div>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
