<!DOCTYPE html>
<html>
  <head>
    <title>JettyTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color">
      <%= link_to "Jeety trips", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Viajes", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <% end %>
        <ul class="navbar-nav session-option">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Session
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "Cerrar Sesión",destroy_user_session_path,class: "dropdown-item",method: :delete %>
              <% else %>
              <%= link_to "Iniciar Sesión",new_user_session_path,class: "dropdown-item",method: :get %>
              <% end %>
            </div>
          </li>
          <li></li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="text-center">
      <% flash.each do |type, msg| %>
      <% if type.eql?("alert") %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    </div>

    <%= yield %>
  </body>
  <script>
    setTimeout(function(){ 
      $("[role=alert]").hide();
     }, 3000);
  </script>
</html>
