<!DOCTYPE html>
<html>
  <head>
    <title>JettyTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navigation" %>
    <div class="text-center">
      <% flash.each do |type, msg| %>
      <% if type.eql?("alert") %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    </div>

    <%= yield %>
  </body>
  <script>
    setTimeout(function(){ 
      $("[role=alert]").hide();
     }, 3000);
  </script>
</html>
